<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="fr.rostren.tracker.ui.commands.pdfimport"
               icon="icons/pdfImport.gif"
               label="Import PDF"
               style="push"
               tooltip="import pdf">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="fr.rostren.tracker.Account"/>
                  </iterate>
                  <count value="1"/>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="fr.rostren.tracker.ui.commands.cleanmodel"
               icon="icons/cleanmodel.gif"
               label="Clean Model"
               style="push"
               tooltip="Clean the Model">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="fr.rostren.tracker.Account"/>
                  </iterate>
                  <count value="1"/>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="fr.rostren.tracker.ui.commands.editoperation"
               icon="icons/editOperation.gif"
               label="Edit Operation"
               style="push"
               tooltip="Edit Operation details">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="fr.rostren.tracker.Operation"/>
                  </iterate>
                  <count value="1"/>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="fr.rostren.tracker.ui.commands.category"
            name="Pdf Category">
      </category>
      <command
            categoryId="fr.rostren.tracker.ui.commands.category"
            defaultHandler="fr.rostren.tracker.ui.handlers.ImportPDFHandler"
            id="fr.rostren.tracker.ui.commands.pdfimport"
            name="Import PDF">
      </command>
      <command
            categoryId="fr.rostren.tracker.ui.commands.category"
            defaultHandler="fr.rostren.tracker.ui.handlers.CleanModelHandler"
            id="fr.rostren.tracker.ui.commands.cleanmodel"
            name="Clean Model">
      </command>
      <command
            categoryId="fr.rostren.tracker.ui.commands.category"
            defaultHandler="fr.rostren.tracker.ui.handlers.EditOperationHandler"
            id="fr.rostren.tracker.ui.commands.editoperation"
            name="Edit Operation Information">
      </command>
   </extension>
</plugin>
